{% extends "base.html" %}
{% block title %}Team Tardis{% endblock %}
{% block content %}


<head>
  <title>Your Static Website</title>
</head>
<body>
  <header>
      <h1>Welcome to Our Website</h1>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Porojects</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
          </ul>
      </nav>
  </header>

  <!-- Content of your website goes here -->

  <table class="table">
      <tr style="width:100%;">
          <th style="text-align:center; width:25%;">Emeka</th>
          <th style="text-align:center; width:25%;">Callum</th>
          <th style="text-align:center; width:25%;">Will</th>
          <th style="text-align:center; width:25%;">Kevin</th>
        </tr>
        <tr>
  <a href="{{ url_for('member', name='Emeka') }}"><img src="{{ url_for('static', filename='emeka.jpeg') }}" alt="emeka" style="width:25%"></a>
  <a href="{{ url_for('member', name='Callum') }}"><img src="{{ url_for('static', filename='callum.png') }}"  alt="callum" style="width:25%"></a>
  <a href="{{ url_for('member', name='Will') }}"><img src="{{url_for('static', filename='will.jpeg')}}" alt="will" style="width:25%"></a>
  <a href="{{ url_for('member', name='Kevin') }}"><img src="{{url_for('static', filename='kevin.jpeg')}}" alt="kevin" style="width:25%"></a>
  </tr>
  </table>


  <footer>
    <p>Follow us on social media:</p>
    <ul>
        <li><a href="https://www.youtube.com/your-channel" target="_blank">YouTube</a></li>
        <li><a href="https://www.ebay.com/your-store" target="_blank">eBay</a></li>
        <li><a href="https://www.facebook.com/your-page" target="_blank">Facebook</a></li>
    </ul>
  </footer>
</body>





<p style="text-align:center;">Click on our images to find out more about us!</p>
{% endblock %}
