{% extends "base.html" %}
{% block title %}Two Miners Technology Co.{% endblock %}
{% block content %}
<table class="table">
    <tr style="width:100%;">
        <th style="text-align:center; width:100%;">Two Miners Technology Co.</th>
      </tr>
      <tr>
<a href="{{ url_for('member', name='Background') }}"><img src="{{ url_for('static', filename='background.jpeg') }}" alt="background" style="width:100%"></a>
</tr>
</table>
<table class="table">
    <tr style="width:100%;">
        <th style="text-align:center; width:25%;">Home</th>
        <th style="text-align:center; width:25%;">Projects</th>
        <th style="text-align:center; width:25%;">About Us</th>
        <th style="text-align:center; width:25%;">Contact Us</th>
      </tr>
      <tr>
<a href="{{ url_for('member', name='home') }}"><img src="{{ url_for('static', filename='home.png') }}" alt="emeka" style="width:25%"></a>
<a href="{{ url_for('member', name='projects') }}"><img src="{{ url_for('static', filename='projects.png') }}"  alt="callum" style="width:25%"></a>
<a href="{{ url_for('member', name='aboutus') }}"><img src="{{url_for('static', filename='aboutus.png')}}" alt="will" style="width:25%"></a>
<a href="{{ url_for('member', name='contactus') }}"><img src="{{url_for('static', filename='contactus.png')}}" alt="kevin" style="width:25%"></a>
</tr>
</table>
<footer>
    <div class="social-media-links">
        <a href="https://www.youtube.com/user/YourYouTubeChannel" target="_blank"><img src="{{ url_for('static', filename='youtube-icon.png') }}" alt="YouTube" style="height:25px"></a>
        <a href="https://www.ebay.com/usr/YourEbayUsername" target="_blank"><img src="{{ url_for('static', filename='ebay-icon.png') }}" alt="eBay" style="height:50px"></a>
        <a href="https://www.facebook.com/YourFacebookPage" target="_blank"><img src="{{ url_for('static', filename='facebook-icon.png') }}" alt="Facebook" style="height:25px"></a>
        <a href="https://www.linkedin.com/in/YourLinkedInProfile" target="_blank"><img src="{{ url_for('static', filename='linkedin-icon.png') }}" alt="LinkedIn" style="height:25px"></a>
    </div>
</footer>
<p style="text-align:center;">Click on our images to find out more about us!</p>
{% endblock %}